@font-face {
    font-family: 'Chewy';
    src: url('fonts/Chewy-Regular.woff2') format('woff2'),
        url('fonts/Chewy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
}

h1,
h2 {
    font-family: 'Chewy', sans-serif;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
}

h2 {
    font-weight: 300;
}

.img-banner {
    background-image: url("/assets/mitchell-orr-az-mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.title {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    position: relative;
    top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.credits {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    justify-content: center;
    font-size: small;
}

a {
    color: rgb(255, 102, 0);
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: rgb(180, 98, 43);
}

.signup {
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 4rem 2.5rem;
}

.paragraph {
    padding-top: 6rem;
    background: rgb(252, 244, 241);
    font-weight: 700;
}

.form-section {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 1.5rem;
}

.form-row {
    margin-bottom: 2.5rem;
    display: flex;
    gap: 2.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
}

button[type="submit"] {
    background-color: rgb(218, 87, 0);
    width: 100%;
    max-width: 11rem;
    font-family: 'Roboto Mono', sans-serif;
    font-size: small;
    font-weight: 600;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.24);
}

button[type="submit"]:hover {
    background-color: rgb(233, 125, 54);
}